@font-face {
    font-family: 'MS Serif';
    src: url('MSSerif.woff2') format('woff2'),
        url('MSSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

